## Quien sobrevivio el accidente del Titanic?

#### Actividad evaluativa 5 
Profesor Alfonso Cervantes Barragán - 14-10-2020

### Descripción del contexto.

En esta actividad el estudiante debera realizar un análisis exploratorio de Datos (EDA) del dataset *titanic.csv*, que contiene información sobre los pasajeros del accidente del Barco "Titanic".

La descripción de las columnas del dataset es la siguiente:

|Columna |	Descripción |  
|--------|--------------|
|Survived	| Sobrevivio? 0=No, 1=Si |   
|Pclass | Ticket class: 1=1st, 2=2nd, 3=3rd|
|sex    | genero del pasajero |
|Age    | Edad del pasajero. En años |
|SibSp  | número de hermanos en el Titatic |
|parch  | Número de padres/hijos en el Titatic |
|ticket | número del tiquete  |
|Fare   | Tarija del pasajero (dólares)  |
|cabin  | número de cabina |
|Embarked | En que puerdo enbarco: C=Cherbourg, Q=Queenstown, S=Southampton |



#### Entregable

El estudiante debera entregar un documento con extensión *ipynb* mediante el taller "Quinta Evaluación " que se encuentra en el curso virtual Informatica III en el plataforma Sergio Virtual


#### Plazo

El plazo de entrega sera hasta el domingo, 18 de octubre a las 11:30 p.m. En el aula del curso en la plataforma Sergio Virtual estará disponible un taller en el cual deberan subir el archivo .ipynb (Jupyter notebook) con todo el código requerido. 

No esta permitido resolver los ejercicios a mano ni ingresar la respuesta sin que haya un código que lo respalde.

#### Donde puedo trabajar?

Este ejercicio se puede realizar en el entorno virtual creado con base en el repositorio github.com/alfonsocerv/datascience en la carpeta /ejericicio/caso11.

#### Criterios de evaluación

1. Todo el código requerido debe estar presente. Cada ejercicio debe tener su respectiva respuesta.
2. No pueden haber errores que se generen al ejecutar el código.
3. El código debe cumplir con las especificaciones de cada ejercicio.

### Ejercicio 1

Importa las librerias pandas, numpy y matplotlib

#### Respuesta

In [1]:
%matplotlib inline

### Ejercicio 2

Cargar el dataset *titanic.csv* y almacenarlo en la variable *datat*. Muestre los primeros 5 registros.

#### Respuesta

### Ejercicio 3

De acuerdo con la descripción de los valores que ocupan cada columna presentada previamente, determine cuales de las variables (=las columnas) son categóricas?. 

Ingrese su respuesta como celda de texto aquí en el documento a continuación

#### Respuesta

passergerId, survived, Pclass, Sex, Embarket

### Ejercicio 4

Determine el porcentaje de mujeres y hombres que estuvieron en el Titanic

#### Respuesta

### Ejercicio 5

Determine la edad promedio de los hombres y mujeres

#### Respuesta

### Ejercicio 6

Agrupe los registros según el genero y muestre todas las estadísticas básicas relacionadas entre hombres y mujeres

#### Respuesta

### Ejercicio 7

Escriba un código que determine el rango de edad de los hombres.

#### Respuesta

### Ejercicio 8

Determine si en primera clase se embarcaron más mujeres o hombres. Para resolver esto, agrupe los datos según la clase del tiquete y el género. Una vez lo haya hecho aplique el método count()

#### Respuesta

En primer clase se embarcaron más hombres (101) que mujeres (85)

### Ejercicio 9

Determine que porcentaje de pasajeros sobrevivio al accidente del Titanic

#### Respuesta

El 61.6% de los pasajeros no sobrevivio al accidente del Titanic.

### Ejercicio 10

Determine cuántos de los sobrevivientes eran mujeres y cuántos hombres?

#### Respuesta

197 pasajeros que sobrevivieron al Titanic eran mujeres, y sólo 93 eran hombres.

### Ejercicio 11

Determine cuántas de las mujeres que sobrevivieron al Titanic tenian más de dos hermanos abordo?

#### Respuesta

### Ejercicio 12

Determine el número de mujeres que se embarcaron en Queenstown (Q). Utilice el método groupby. Agrupe según las variables *Embarked* y *Sex*

#### Respuesta

### Ejercicio 13

Cuál fue la tarifa máxima que se pago en primera clase?.

#### Respuesta

### Ejercicio 14

Cuál fue la tarifa máxima que pago en segunda clase una pasajera femenina?.

#### Respuesta

### Ejercicio 15

Cuál fue la tarifa máxima que pago en segunda clase una pasajera femenina que se embarco en Cherbourg (C)?.

#### Respuesta

### Ejercicio 16

Escriba un código de presente un histograma de las edades de los pasajeros, usando 50 bins con 15 pulgadas de largo y 8 de altura.

#### Respuesta